<h1><%= @project.title %></h1>

<p><strong>Project User Name: </strong><%= @project.user.first_name %> <%= @project.user.last_name %></p>

<%= link_to 'Back This Project', new_project_pledge_path(@project) %>